$mainWhite: #ffffff;
$mainBlack: #000000;
// $activeClr: #ff4500;
$activeClr: #005C97;
$mainGrey: #383737;

$textShadow: .125rem .125rem .125rem $mainBlack;
$boxShadow: .25rem .25rem .25rem $mainGrey;